<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!--Let browser know website is optimized for mobile
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  -->
  </head>



<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  

   <nav>
    <div class="av-wrapper">
    <a href="#" class="brand-logo">.handsome</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" ></ul>


    </div>
  </nav>
  
  <div class="row">

     <div class = "col s2 offset-s1">

         <div class="card deep-orange lighten-5 row">
            <div class="card-content red-text col s7 offset-s3">
              <h6 th:text = "${list.size()}">${engineList.size()}</h6>
            </div>
      </div>
      </div>

      <div class="col s6 offset-s1">

           <table class="highlight">
        <thead>
          <tr>
              <th data-field="id">name</th>
              <th data-field="name">state</th>
              <th data-field="price">operation</th>
          </tr>
        </thead>

       <tbody th:remove="all-but-first">
           <tr th:each="engine: ${list}">
                    <td th:text="${engine.enginename}">${engine.enginename }</td>
      
                  <td th:text = "${engine.enginestate}">${engine.enginestate }</td>
              <td>
                <a href="${pageContext.request.contextPath}/engine/info/${engine.enginename}"  th:href = "@{'/info1/' + ${engine.enginename}}">Info</a>
                <a href="${pageContext.request.contextPath}/engine/update/${engine.enginename}"  th:href="@{'/update1/'+${engine.enginename}}">update</a>
                <a href="${pageContext.request.contextPath}/engine/delete/${engine.enginename}" th:href="@{'/delete1/'+${engine.enginename}}">delete</a>
               </td>
                 </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
      
      <br/>
      <a href="${pageContext.request.contextPath}/create" th:href="@{/}">BACK</a><br/>
          
      </div>

    </div>
  

</body>


</html>